*{
    padding: 0px;
    margin: 0px;
}

.parent{
    width: 1000px;
    height: 1200px;
    background: gray;
}
.menubar{
    height: 36px;
    background: black;
    display: flex;
    justify-content: space-around;
    line-height: 36px;
    
}
.menu ul{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    font-size: 20px;
    font-variant: small-caps;

}
ul li{
    float: left;
    border-left: 1px solid white;
}
a{
    display: block;
    text-decoration-line: none;
    color: white;
    padding: 0 28px;
}
a:hover{
    background: blue;
}


.bname h1{
    color: #0c43f2;
    font-size: 20px;
    
}
h1::first-letter{
    font-size: 30px;
    color: #eb17eb;

}
